
@{
    ViewBag.Title = "AgregarFoto";
    Layout = "~/Views/Shared/_Layout_Authenticated.cshtml";
}

<section class="contact-area section-padding-40-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <!-- Contact Area -->
                <div class="contact-form-area contact-page">
                    @* Para uso de administrador *@
                    @using (Html.BeginForm("AgregarFoto", "Authenticated", FormMethod.Post, new { @class = "pl-5 pr-5 mt-4 mb-4", @enctype = "multipart/form-data" }))
                    {
                        <br />
                        if (ViewBag.mensaje != null)
                        {
                            if (ViewBag.mensaje == "")
                            {<div class="alert alert-success" role="alert" style="text-align:center;">
                                    @ViewBag.mensaje
                                </div>
                            }
                            else
                            {<div class="alert alert-danger" role="alert" style="text-align:center;">
                                    @ViewBag.mensaje
                                </div>
                            }
                        }

                        <br />
                        <h2 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; color: black; text-align: center;">Agregar foto de perfil</h2>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-outline mb-4">
                                    <label>Imagen</label>
                                    <input type="file" class="form-control form-control-lg" id="ImgPerfil" name="ImgPerfil">
                                </div>
                            </div>

                            <div class="col-lg-12 text-center">
                                <div class="pt-1 mb-4">
                                    <input style="color: white; background-color: #363E48;" type="submit" class="btn credit-btn mt-30" value="Agregar">
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>