@model WEBCloudCash.Models.modCuenta

@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_Layout_Authenticated.cshtml";
}



<section class="contact-area section-padding-40-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <!-- Contact Area LOGOS DE TARJETAS
                  <img src="https://www.freepnglogos.com/uploads/mastercard-png/file-mastercard-logo-svg-wikimedia-commons-4.png"

                  <img src="https://www.freepnglogos.com/uploads/discover-png-logo/credit-cards-discover-png-logo-4.png"
                -->
                <div class="contact-form-area contact-page">
                    <div class="container">
                        <h2 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; color: black; text-align: center;">Cuenta de Ahorro</h2>
                        <div class="row">
                            @{ bool tieneCuenta = false; }
                            @if (Model.Cuentas.Count() > 0)
                            {
                                foreach (var cuenta in Model.Cuentas)
                                {
                                    if (cuenta.id_TipoCuenta == 1)
                                    {
                                        tieneCuenta = true;
                                        <div class="container">
                                            <!--   Use JavaScript to Populate Card -->
                                            <div style="background-color:; padding: 4rem;" id="root" class="card">
                                                <h1>@Session["NombreCompleto"]</h1>
                                                <h1>@cuenta.numeroCuenta</h1>
                                            </div>
                                            <!--   AQUI SE DEBERA CARGAR LA INFORMACION DE LA BASE DE DATOS QUE CONTENDRA LOS BALANCES DE LA CUENTA -->
                                            <div class="update">
                                                <form style="background-color: #B30000; padding: 1rem;">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span style="background-color: #b30000; color: white;" class="input-group-text">BALANCE</span>
                                                            </div>
                                                            <input style="color: white; background-color: #363E48;" type="number" id="interest" placeholder="Interés" class="form-control" name="" value="@cuenta.saldo" readonly>
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                       
                                        </div>
                                    }

                                }
                                if (tieneCuenta == false)
                                {
                                    <div class="container">
                                        <!--   Use JavaScript to Populate Card -->
                                        <div style="background-color:; padding: 4rem;" id="root" class="card">
                                            <h1>No posee este tipo de producto</h1>

                                        </div>
                                        <!--   AQUI SE DEBERA CARGAR LA INFORMACION DE LA BASE DE DATOS QUE CONTENDRA LOS BALANCES DE LA CUENTA -->
                                        <div class="update">
                                            <form style="background-color: #B30000; padding: 1rem;">


                                                <br>

                                            </form>
                                        </div>

                                    </div>

                                }                            
                            }
                            else
                            {
                                <div class="container">
                                    <!--   Use JavaScript to Populate Card -->
                                    <div style="background-color:; padding: 4rem;" id="root" class="card">
                                        <h1>No posee este tipo de producto</h1>

                                    </div>
                                    <!--   AQUI SE DEBERA CARGAR LA INFORMACION DE LA BASE DE DATOS QUE CONTENDRA LOS BALANCES DE LA CUENTA -->
                                    <div class="update">
                                        <form style="background-color: #B30000; padding: 1rem;">


                                            <br>

                                        </form>
                                    </div>

                                </div>
                            }

                        </div>
                        <!--AQUI TERMINA UNA TARJETA-->
                        <!--TERMINA OTRA TARJETA-->
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
