
@model WEBCloudCash.Models.modTarjeta

@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_Layout_Authenticated.cshtml";
}




<section class="contact-area section-padding-40-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <!-- Contact Area LOGOS DE TARJETAS
                  <img src="https://www.freepnglogos.com/uploads/mastercard-png/file-mastercard-logo-svg-wikimedia-commons-4.png"

                  <img src="https://www.freepnglogos.com/uploads/discover-png-logo/credit-cards-discover-png-logo-4.png"
                -->
                <div class="contact-form-area contact-page">
                    <div class="container">
                        <h2 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; color: black; text-align: center;">Tarjetas de crédito</h2>


                        <div class="row">
                            @{ bool tieneCuenta = false; }
                            @if (Model.Tarjetas.Count() > 0)
                            {
                                foreach (var tarjeta in Model.Tarjetas)
                                {
                                    if (tarjeta.id_TipoTarjeta == 2) //esto valida si la tarjeta es solo de crédito!
                                    {
                                        tieneCuenta = true;
                                        <div class="col-12 mt-4 align-items-center justify-content-center">
                                            <div style="text-align: center; background-color: #B30000;" class="card p-3">
                                                <p class="mb-0 fw-bold h4">Tarjeta de crédito</p>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div style="background-color: navajowhite; border: none; " class="card p-3">
                                                <div style="border-color:white;" class="card-body border p-0">
                                                    <div class="collapse show p-3 pt-0" id="collapseExample">
                                                        <div class="row">
                                                            <div class="col-lg-5 mb-lg-0 mb-3 d-flex align-items-center justify-content-center">
                                                                <p class="mb-0">
                                                                    @if (tarjeta.numeroTarjeta.StartsWith("4")) //aqui se valida si la tarjeta empieza con 4 entonces pone la imagen de visa
                                                                    {
                                                                        <img src="~/Template/img/visa.png" alt="" class="img-fluid">
                                                                    }
                                                                    else if (tarjeta.numeroTarjeta.StartsWith("5")) // si no empieza con 4 pone la imagen de mastercard
                                                                    {
                                                                        <img src="~/Template/img/mastercard.png" alt="" class="img-fluid">
                                                                    }

                                                                </p>
                                                            </div>
                                                            <div class="col-lg-7">
                                                                <form action="" class="form">
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <div class="form__div">
                                                                                <input style="border: none; color: black;" type="text" class="form-control" value="@tarjeta.numeroTarjeta" placeholder="1234567891123456" readonly>
                                                                                <label style="color: black; " for="" class="form__label">Número de tarjeta</label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-6">
                                                                            <div class="form__div">
                                                                                <input style="border: none; color: black;" type="text" class="form-control" value="@tarjeta.fechaVencimiento.ToString("MM/yy")" placeholder=" " readonly>
                                                                                <label style="color: black; " for="" class="form__label">MM / yy</label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-6">
                                                                            <div class="form__div">
                                                                                <input style="border: none; color: black;" type="password" class="form-control" value="@tarjeta.cvc" placeholder=" " readonly>
                                                                                <label style="color: black; " for="" class="form__label">cvc</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <div class="form__div">
                                                                                <input style="border: none; color: black;" type="text" class="form-control" value="@tarjeta.nombrePoseedor" placeholder=" " readonly>
                                                                                <label style="color: black; " for="" class="form__label">Nombre en la tarjeta</label>
                                                                            </div>
                                                                        </div>


                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                }
                                if (tieneCuenta == false)
                                {
                                    <div class="container">
                                        <!--   Use JavaScript to Populate Card -->
                                        <div style="background-color:; padding: 4rem;" id="root" class="card">
                                            <h1>No posee este tipo de producto</h1>

                                        </div>
                                        <!--   AQUI SE DEBERA CARGAR LA INFORMACION DE LA BASE DE DATOS QUE CONTENDRA LOS BALANCES DE LA CUENTA -->
                                        <div class="update">
                                            <form style="background-color: #B30000; padding: 1rem;">


                                                <br>

                                            </form>
                                        </div>

                                    </div>

                                }
                            }
                            else
                            {
                                <div class="container">
                                    <!--   Use JavaScript to Populate Card -->
                                    <div style="background-color:; padding: 4rem;" id="root" class="card">
                                        <h1>No posee este tipo de producto</h1>

                                    </div>
                                    <!--   AQUI SE DEBERA CARGAR LA INFORMACION DE LA BASE DE DATOS QUE CONTENDRA LOS BALANCES DE LA CUENTA -->
                                    <div class="update">
                                        <form style="background-color: #B30000; padding: 1rem;">


                                            <br>

                                        </form>
                                    </div>

                                </div>
                            }
                        </div>



                        <!--AQUI TERMINA UNA TARJETA-->

                    </div>


                </div>
            </div>
        </div>
    </div>
</section>