
@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_Layout_Authenticated.cshtml";
}



<section class="contact-area section-padding-40-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <!-- Contact Area LOGOS DE TARJETAS
                  <img src="https://www.freepnglogos.com/uploads/mastercard-png/file-mastercard-logo-svg-wikimedia-commons-4.png"

                  <img src="https://www.freepnglogos.com/uploads/discover-png-logo/credit-cards-discover-png-logo-4.png"
                -->
                <div class="contact-form-area contact-page">
                    <div class="container">
                        <h2 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; color: black; text-align: center;">Tarjetas de débito</h2>
                        <div class="row">
                            <div class="col-12 mt-4 align-items-center justify-content-center">
                                <div style="text-align: center; background-color: #B30000;" class="card p-3">
                                    <p class="mb-0 fw-bold h4">Tarjeta de débito</p>
                                </div>
                            </div>
                            <div class="col-12">
                                <div style="background-color: navajowhite; border: none; " class="card p-3">
                                    <div style="border-color:white;" class="card-body border p-0">
                                        <div class="collapse show p-3 pt-0" id="collapseExample">
                                            <div class="row">
                                                <div class="col-lg-5 mb-lg-0 mb-3 d-flex align-items-center justify-content-center">
                                                    <p class="mb-0">
                                                        <img src="~/Template/img/visa.png" alt="" class="img-fluid">
                                                    </p>
                                                </div>
                                                <div class="col-lg-7">
                                                    <form action="" class="form">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form__div">
                                                                    <input style="border: none; " type="text" class="form-control" placeholder=" " readonly>
                                                                    <label style="color: black; " for="" class="form__label">Número de tarjeta</label>
                                                                </div>
                                                            </div>

                                                            <div class="col-6">
                                                                <div class="form__div">
                                                                    <input style="border: none; " type="text" class="form-control" placeholder=" " readonly>
                                                                    <label style="color: black; " for="" class="form__label">MM / yy</label>
                                                                </div>
                                                            </div>

                                                            <div class="col-6">
                                                                <div class="form__div">
                                                                    <input style="border: none; " type="password" class="form-control" placeholder=" " readonly>
                                                                    <label style="color: black; " for="" class="form__label">cvc</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form__div">
                                                                    <input style="border: none; " type="text" class="form-control" placeholder=" " readonly>
                                                                    <label style="color: black; " for="" class="form__label">Nombre en la tarjeta</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--AQUI TERMINA UNA TARJETA-->

                        <div class="row">
                            <div class="col-12 mt-4 align-items-center justify-content-center">
                                <div style="text-align: center; background-color: #B30000;" class="card p-3">
                                    <p class="mb-0 fw-bold h4">Tarjeta de débito</p>
                                </div>
                            </div>
                            <div class="col-12">
                                <div style="background-color: navajowhite; border: none; " class="card p-3">
                                    <div style="border-color:white;" class="card-body border p-0">
                                        <div class="collapse show p-3 pt-0" id="collapseExample">
                                            <div class="row">
                                                <div class="col-lg-5 mb-lg-0 mb-3 d-flex align-items-center justify-content-center">
                                                    <p class="mb-0">
                                                        <img src="~/Template/img/mastercard.png" alt="" class="img-fluid">
                                                    </p>
                                                </div>
                                                <div class="col-lg-7">
                                                    <form action="" class="form">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form__div">
                                                                    <input style="border: none; " type="text" class="form-control" placeholder=" " readonly>
                                                                    <label style="color: black; " for="" class="form__label">Número de tarjeta</label>
                                                                </div>
                                                            </div>

                                                            <div class="col-6">
                                                                <div class="form__div">
                                                                    <input style="border: none; " type="text" class="form-control" placeholder=" " readonly>
                                                                    <label style="color: black; " for="" class="form__label">MM / yy</label>
                                                                </div>
                                                            </div>

                                                            <div class="col-6">
                                                                <div class="form__div">
                                                                    <input style="border: none; " type="password" class="form-control" placeholder=" " readonly>
                                                                    <label style="color: black; " for="" class="form__label">cvc</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form__div">
                                                                    <input style="border: none; " type="text" class="form-control" placeholder=" " readonly>
                                                                    <label style="color: black; " for="" class="form__label">Nombre en la tarjeta</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--TERMINA OTRA TARJETA-->
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>