
@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_Layout_Authenticated.cshtml";
}

<link rel="stylesheet" href="~/Template/assets/css/CardView.css">


<section class="contact-area section-padding-40-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <!-- Contact Area   
                <img src="https://www.freepnglogos.com/uploads/mastercard-png/file-mastercard-logo-svg-wikimedia-commons-4.png"
                  
                <img src="https://www.freepnglogos.com/uploads/discover-png-logo/credit-cards-discover-png-logo-4.png"
              -->
                <div class="contact-form-area contact-page">
                    <div class="container">
                        <div class="row">                         

                            <div class="col-12 mt-4">
                                <div class="card p-3">
                                    <p class="mb-0 fw-bold h4">Tarjeta de crédito</p>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card p-3">
                                    
                                    <div class="card-body border p-0">

                                        <div class="collapse show p-3 pt-0" id="collapseExample">
                                            <div class="row">
                                                <div class="col-lg-5 mb-lg-0 mb-3">                                                
                                                    <p class="mb-0">
                                                        <img src="https://www.freepnglogos.com/uploads/visa-logo-download-png-21.png" alt="">
                                                    </p>
                                                </div>
                                                <div class="col-lg-7">
                                                    <form action="" class="form">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form__div">
                                                                    <input type="text" class="form-control" placeholder=" "readonly  >
                                                                    <label for="" class="form__label">Número de tarjeta</label>
                                                                </div>
                                                            </div>

                                                            <div class="col-6">
                                                                <div class="form__div">
                                                                    <input type="text" class="form-control" placeholder=" " readonly>
                                                                    <label for="" class="form__label">MM / yy</label>
                                                                </div>
                                                            </div>

                                                            <div class="col-6">
                                                                <div class="form__div">
                                                                    <input type="password" class="form-control" placeholder=" " readonly>
                                                                    <label for="" class="form__label">cvc</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form__div">
                                                                    <input type="text" class="form-control" placeholder=" " readonly>
                                                                    <label for="" class="form__label">Nombre en la tarjeta</label>
                                                                </div>
                                                            </div>                                                          
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                         
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>