<main>
    <section class="row justify-content-center"  aria-labelledby="aspnetTitle">
        <div class="card text-white bg-dark mb-3 " style="max-width: 50rem;">
            <div class="card-header">API CloudCash</div>
            <div class="card-body">
                <h5 class="card-title">Saludos</h5>
                <p class="card-text">Ingresaste al servicio API de CloudCash. Aquí podrás realizar diferentes consultas de la misma.</p>
            </div>
        </div>
        </section>
</main>