
@{
    ViewBag.Title = "Promociones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(/Template/img/bg-img/promociones.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Promociones</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Promociones</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-area section-padding-100-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="about-content mb-100">
                    <!-- Section Heading -->
                    <div class="section-heading">
                        <div class="line"></div>
                        <p>Descubra nuestras</p>
                        <h2>Promociones Exclusivas</h2>
                    </div>
                    <h6 class="mb-4">Acceso VIP a conciertos con tarjetas de crédito Visa Platinum</h6>
                    <p class="mb-0">Disfrute de experiencias únicas con las tarjetas de crédito Visa Platinum de CloudCash, para clientes Platinum. Le ofrecemos acceso exclusivo a eventos especiales, incluyendo conciertos VIP. Viva la música de sus artistas favoritos como nunca antes.</p>
                    <a href="@Url.Action("TarjetaCredito","Home")" class="btn credit-btn mt-50">Ver tarjeta</a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="about-thumbnail mb-100">
                    <img src="~/Template/img/bg-img/closeupconcert.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="about-area section-padding-100-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="about-thumbnail mb-100">
                    <img src="~/Template/img/bg-img/restaurant.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="about-content mb-100">
                    <!-- Section Heading -->
                    <div class="section-heading">
                        <div class="line"></div>
                        <p>Coma por un mejor precio</p>
                        <h2>En nuestros restaurantes afilidados</h2>
                    </div>
                    <h6 class="mb-4">Obtenga un 40% de descuento en los restaurantes afiliados</h6>
                    <p class="mb-0">Al pagar con su tarjeta de crédito CloudCash obtenga hasta un 40% de descuento en los mejores restaurantes del país.</p>
                    <a href="@Url.Action("TarjetaCredito","Home")" class="btn credit-btn mt-50">Ver tarjeta</a>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="about-area section-padding-100-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="about-content mb-100">
                    <!-- Section Heading -->
                    <div class="section-heading">
                        <div class="line"></div>
                        <p>Cuide sus dientes</p>
                        <h2>A un precio más cómodo</h2>
                    </div>
                    <h6 class="mb-4">Descuentos en servicios dentales al pagar con la tarjeta de débito</h6>
                    <p class="mb-0">Disfrute de cuidado dental de calidad y ahorre con CloudCash. Al utilizar su tarjeta de débito, obtenga descuentos exclusivos en una amplia gama de servicios dentales. Le ofrecemos acceso a profesionales altamente calificados para mantener su salud bucal en óptimas condiciones.</p>
                    <a href="@Url.Action("TarjetaDebito","Home")" class="btn credit-btn mt-50">Ver tarjeta</a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="about-thumbnail mb-100">
                    <img src="~/Template/img/bg-img/dentist.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
