@{
    ViewBag.Title = "Home Page";
}


<div class="hero-area">
    <div class="hero-slideshow owl-carousel">

        <!-- Single Slide -->
        <div class="single-slide bg-img">
            <!-- Background Image-->
            <div class="slide-bg-img bg-img bg-overlay" style="background-image: url(/Template/img/bg-img/1.jpg);"></div>
            <!-- Welcome Text -->
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col-12 col-lg-9">
                        <div class="welcome-text text-center">
                            <h6 data-animation="fadeInUp" data-delay="100ms">4.1% interés mensual</h6>
                            <h2 data-animation="fadeInUp" data-delay="300ms">Su primer <span>tarjeta de crédito</span> ahora</h2>
                            <p data-animation="fadeInUp" data-delay="500ms">Obtenga su primer tarjeta de crédito con nosotros y 
                            descubra todos los beneficios que le ofrecemos</p>
                            <a href="#" class="btn credit-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Información</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide Duration Indicator -->
            <div class="slide-du-indicator"></div>
        </div>

        <!-- Single Slide -->
        <div class="single-slide bg-img">
            <!-- Background Image-->
            <div class="slide-bg-img bg-img bg-overlay" style="background-image: url(/Template/img/bg-img/5.jpg); "></div>
            <!-- Welcome Text -->
            <!-- Welcome Text -->
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col-12 col-lg-9">
                        <div class="welcome-text text-center">
                            <h6 data-animation="fadeInDown" data-delay="100ms">Adquiera su propia casa</h6>
                            <h2 data-animation="fadeInDown" data-delay="300ms">Obtenga su deseado crédito <span>para vivienda</span> aquí</h2>
                            <p data-animation="fadeInDown" data-delay="500ms">Aplique con nosotros a su crédito de vivienda, con los intereses más bajos del mercado</p>
                            <a href="#" class="btn credit-btn mt-50" data-animation="fadeInDown" data-delay="700ms">Aplicar</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide Duration Indicator -->
            <div class="slide-du-indicator"></div>
        </div>

        <!-- Single Slide -->
        <div class="single-slide bg-img">
            <!-- Background Image-->
            <div class="slide-bg-img bg-img bg-overlay" style="background-image: url('/Template/img/bg-img/concert.jpg');"></div>
            <!-- Welcome Text -->
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col-12 col-lg-9">
                        <div class="welcome-text text-center">
                            <h6 data-animation="fadeInUp" data-delay="100ms">Acceso VIP a sus conciertos</h6>
                            <h2 data-animation="fadeInUp" data-delay="300ms">Con su tarjeta <span>platinum</span> de VISA</h2>
                            <p data-animation="fadeInUp" data-delay="500ms">Obtenga acceso VIP y otros beneficios a sus conciertos favoritos gracias a su VISA Platinum</p>
                            <a href="#" class="btn credit-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Detalles</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide Duration Indicator -->
            <div class="slide-du-indicator"></div>
        </div>


    </div>
</div>